{% extends "base.html" %}

{% block content %}
<section>
    <h1> User Login </h1>
    <form method="post">
        <table>
            <tr>
                <td><label for="username">Username:</label></td>
                <td><input name="username" type="text" value="{{ username }}" /></td>
            </tr>
            <tr>
                <td><label for="password">Password: </label></td>
                <td><input name="password" type="password" /></td>
            </tr>
            {% if error %}
            <tr>
            <td colspan='2'><span class='error'>{{error}}</span></td>
            </tr>
            {% endif%}
                <tr>
                <td><input type="submit" value="login" /></td>
            </tr>
        </table>
    </form>
    <span>dont have an account? join us: </span>
    <a href="/signup">Signup</a>
</section>
{% endblock %}