{% extends "base.html" %}

{% block content %}
<section>
    <h1> Singup for account </h1>
    <form method="post">
        <table>
            <tr>
                <td><label for="username">Username:</label></td>
                <td><input name="username" type="text" value="{{ name }}" /></td>
            </tr>
            <tr>
                <td><label for="password">Password: </label></td>
                <td><input name="password" type="password" /></td>
            </tr>
            <tr>
                <td><label for="verify">Verify Password: </label></td>
                <td><input name="verify" type="password" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Signup" /></td>
            </tr>
        </table>
    </form>
</section>
{% endblock %}