{% extends "base.html" %}

{% block content %}
<h1>{{owner.username}} Posts</h1>

{% if blog.items|length == 0 %}
    <p> no posts yet </p>
{% else %}
<ul>
      {% for post in blog.items %}
        <li>
            <a href="/blog?post_id={{ post.id }}">{{post.title}}</a>
            <p>
            {{post.body}}
            </p>
            <p>{{post.post_date}}</p>
            <p>Author: <a href="blog?user_id={{ post.owner_id }}">{{post.owner.username}}</a></p>
        </li>
    {% endfor %}
</ul>

<ul class="pagination">
    {% if blog.has_prev %}
    <li>
        <a href="{{ url_for('blog',page=blog.prev_num, user_id=owner.id) }}"><-</a>
    </li>
    {% endif %}
    {% for page in blog.iter_pages() %}
        {% if page %}
            {% if page != blog.page %}
                <li><a href="{{ url_for('blog', page=page, user_id=owner.id) }}">{{page}}</a></li>
            {% else %}
                <li>{{page}}</li>
                {% endif %}
        {% else %}
        <li>...</li>
        {% endif %}
    {% endfor %}
    {% if blog.has_next %}

    <li>
        <a href="{{url_for('blog',page=blog.next_num, user_id=owner.id)}}">-></a>
    </li>
    {% endif %}
</ul>

{% endif %}

{% endblock %}
