
body {
    font-family: 'Roboto', sans-serif;
    color: rgba(0,0,0,0.87);
    background: rgb(252, 252, 252);
}
.error {
    color: red;
    font-style: italic;
    font-size: .9em;
    display: block;
    height: .9em;
    text-align: center;
}

a {
    color: rgb(73, 197, 182);
    font-weight: 250;
}
input[type=submit] {
    font-size: .9em;
    background:  rgb(73, 197, 182);
    color:  #ecf9f7;
}

/* TODO */
/* Design remainder of blog */

